**NOTE**:
This notebook has been created automatically from the _html_ export provided with the programming task
using the python script from [this gist](https://gist.github.com/jmrf/5a77ed5ff27e79ed2ffe113aabce6c26).

Additional comments and minnor changes have been made.

More information on the _SemEval 2016_ datatset can be found [here](http://alt.qcri.org/semeval2016/task6/)


<p></p><h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a data-toc-modified-id="Input-parameters-1" href="#Input-parameters"><span class="toc-item-num">1  </span>Input parameters</a></span></li><li><span><a data-toc-modified-id="Load-SemEval-2016-data-2" href="#Load-SemEval-2016-data"><span class="toc-item-num">2  </span>Load SemEval 2016 data</a></span><ul class="toc-item"><li><span><a data-toc-modified-id="Loading-the-training-data-2.1" href="#Loading-the-training-data"><span class="toc-item-num">2.1  </span>Loading the training data</a></span></li><li><span><a data-toc-modified-id="Loading-the-test-data-2.2" href="#Loading-the-test-data"><span class="toc-item-num">2.2  </span>Loading the test data</a></span></li></ul></li></ul></div>

In [14]:
import pandas as pd
import numpy as np
import csv


<h1 id="Input-parameters">Input parameters<a class="anchor-link" href="#Input-parameters">¶</a></h1>

In [15]:
dataset_path = '../data/'


<h1 id="Load-SemEval-2016-data">Load SemEval 2016 data<a class="anchor-link" href="#Load-SemEval-2016-data">¶</a></h1>


<h2 id="Loading-the-training-data">Loading the training data<a class="anchor-link" href="#Loading-the-training-data">¶</a></h2>

In [16]:
data = []

with open(dataset_path + 'SemEval2016-Task6-subtaskA-traindata-gold.csv', 'r',  encoding="iso-8859-1") as fin:
    reader = csv.reader(fin, quotechar='"')
    columns = next(reader)
    for line in reader:
        data.append(line)
        
data_df = pd.DataFrame(data, columns=columns)

print(len(data_df))
data_df.head()

2914

,Tweet,Target,Stance,Opinion Towards,Sentiment
0,"@tedcruz And, #HandOverTheServer she wiped cle...",Hillary Clinton,AGAINST,1. The tweet explicitly expresses opinion abo...,neg
1,Hillary is our best choice if we truly want to...,Hillary Clinton,FAVOR,1. The tweet explicitly expresses opinion abo...,pos
2,@TheView I think our country is ready for a fe...,Hillary Clinton,AGAINST,1. The tweet explicitly expresses opinion abo...,neg
3,I just gave an unhealthy amount of my hard-ear...,Hillary Clinton,AGAINST,1. The tweet explicitly expresses opinion abo...,neg
4,@PortiaABoulger Thank you for adding me to you...,Hillary Clinton,NONE,3. The tweet is not explicitly expressing opi...,pos

In [15]:
data_df['Target'].value_counts()

Hillary Clinton                     689
Feminist Movement                   664
Legalization of Abortion            653
Atheism                             513
Climate Change is a Real Concern    395
Name: Target, dtype: int64

In [18]:
data_df['Target'].value_counts(normalize=True) * 100

Hillary Clinton                     23.644475
Feminist Movement                   22.786548
Legalization of Abortion            22.409060
Atheism                             17.604667
Climate Change is a Real Concern    13.555251
Name: Target, dtype: float64

In [17]:
print("Average tweet length: {}".format(np.mean([len(t) for t in data_df['Tweet'].tolist()])))

Average tweet length: 108.10432395332876


<h2 id="Loading-the-test-data">Loading the test data<a class="anchor-link" href="#Loading-the-test-data">¶</a></h2>

In [7]:
data = []

with open(dataset_path + 'SemEval2016-Task6-subtaskA-testdata-gold.txt', 'r',  encoding="iso-8859-1") as fin:
    reader = csv.reader(fin, delimiter='\t')
    columns = next(reader)
    for line in reader:
        data.append(line)

test_data_df = pd.DataFrame(data, columns=columns)

print(len(test_data_df))
test_data_df.head()

1249

      ID   Target                                              Tweet   Stance
0  10001  Atheism  He who exalts himself shall      be humbled; a...  AGAINST
1  10002  Atheism  RT @prayerbullets: I remove Nehushtan -previou...  AGAINST
2  10003  Atheism  @Brainman365 @heidtjj @BenjaminLives I have so...  AGAINST
3  10004  Atheism  #God is utterly powerless without Human interv...  AGAINST
4  10005  Atheism  @David_Cameron   Miracles of #Multiculturalism...  AGAINST

In [8]:
test_data_df['Target'].value_counts()

Hillary Clinton                     295
Feminist Movement                   285
Legalization of Abortion            280
Atheism                             220
Climate Change is a Real Concern    169
Name: Target, dtype: int64

## Loading Stance.csv (different domain)

In [18]:
data = []

with open(dataset_path + 'stance.csv', 'r',  encoding="iso-8859-1") as fin:
    reader = csv.reader(fin, quotechar='"')
    columns = next(reader)
    for line in reader:
        data.append(line)
        
data_df = pd.DataFrame(data, columns=columns)



data_df['controversial trending issue'].value_counts()

hillary     204
feminism     52
climate      29
abortion     26
Name: controversial trending issue, dtype: int64

In [11]:
print(len(data_df))
print(list(data_df))
data_df.head()

311
['url', 'title', 'text', 'controversial trending issue']

,url,title,text,controversial trending issue
0,http://dailyusaupdate.com/unbelievable-james-c...,UNBELIEVABLE: James Comey Involved in a SEX SC...,"Maybe, he will say that he doesnât remember ...",hillary
1,http://divorcexpo.com/,Rap Sheet: The Women Who Claim to Be Victims o...,While Bill Cosby is finally doing a long overd...,hillary
2,http://dailyheadlines.net/2016/11/clintons-pan...,Clintons Panic: Loretta Lynch Faces Federal La...,The American Center for Law and Justice (ACLJ)...,hillary
3,http://dailyheadlines.net/2017/06/sen-chuck-gr...,Sen. Chuck Grassley Opens Corruption Investiga...,The democrats are about to pay for their false...,hillary
4,http://dailyheadlines.net/2017/01/the-podesta-...,The Podesta Group Lost a Yuge Client Because H...,The Clinton Foundation isnât the only big lo...,hillary

In [19]:
print("Average text length: {}".format(np.mean([len(t) for t in data_df['text'].tolist()])))

Average text length: 3922.2218649517686